.myBtn {
    padding: 10px 20px;
    color: #fff;
    background: #53722a;
    /* font-size: 14px; */
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input+.myBtn {
    margin-top: 10px;
}

.myBtn_white {
    color: #F5F5F5;
}

.myBtn_orange {
    color: #E4491C;
}

.myBtn_light_blue {
    color: #0387B1;
}

.myBtn:hover {
    /* color: #FFE900; */
    background: #415529;
    /* filter: grayscale(50%); */
}